
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdn.tailwindcss.com"></script>
	</head>
<body class="flex justify-center w-full bg-cyan-400">
    
<div id="container" class="m-2 bg-amber-300">

    <div class="h-24 bg-slate-500" id="navbar" id="nav_container">
        <nav class="flex flex-row justify-between h-full">
            <ul class="flex flex-row justify-around w-3/4 self-center">
                <a href=""><li>About Us</li></a>
                <a href=""><li>Contact</li></a>
                <a href=""><li>News</li></a>
            </ul>
    <form action="" class="h-full flex items-center">
        <input type="text" placeholder="User" class="h-1/2 flex flex-col">
    </form>
        </nav>
    </div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rem debitis eligendi beatae veritatis harum. Ratione quaerat, veniam, molestiae unde sed laborum consequuntur nihil eum natus error minima possimus nisi.</p>

</div>

</body>
</html>