
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Create New News</title>
</head>
<body>
    
    <div class="mt-20 flex justify-center" id="container">
        
        <form action="" class="w-2/3">

        <div id="caja" class="grid grid-cols-2 p-5 bg-blue-500 rounded-xl shadow-black shadow-md ">
        
        <div class=" pb-5 pt-2 px-3 flex col-span-2 justify-center items-center">
            <p id="title" class="text-center">Crea una Noticia!</p>
        </div>

        <div id="left-side" class="flex flex-col justify-center items-center gap-4">
            
            <label class="text-center">Mensaje</label> 
            <textarea name="" id="" cols="30" rows="10" class="resize-none w-2/3 h-24 rounded-md p-2 " placeholder="eee"></textarea>
        
            <label for="">Imagenes</label>

            
        </div>
        <div class="" id="right-side">
            
        </div>
    </form>

</div>

</div>

</body>
</html>