<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Send an E-mail</h1>
    <form action="/contactar/" method="POST">{% csrf_token %}
        <p>Reason: <input type="text" name="reason_email"></p>
        <p><input type="email" name="theEmail" required></p>
        <p><textarea name="theMessage" id="Message" cols="30" rows="10" style="resize: none;"></textarea></p>
        <input type="submit" name="Send">
    </form>
</body>
</html>