{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div id="container" class="bg-orange-300">

        <div id="sidebar" class="flex w-1/4 bg-slate-500 h-screen py-5 px-3 flex-col ">
            <ul id="navbar_sidebar" class="flex flex-col items-center h-full justify-around">
                <a href="" class="box_sidebar">
                    <li>Menu</li>
                </a><a href="{% url 'lista_est' %}" class="box_sidebar">
                    <li>Students</li>
                </a><a href="" class="box_sidebar">
                    <li>Teachers</li>
                </a><a href="" class="box_sidebar">
                    <li>Payments</li>
                </a><a href="" class="box_sidebar">
                    <li>News</li>
                </a>
            </ul>

            <div>
                <ul class="flex flex-col h-1/3 items-center gap-2 px-1">
                    <a href=""><li>Settings</li></a>
                    <a href=""><li>Salir de la Cuenta</li></a>
                </ul>
            </div>

        </div>

        <div id="header" class="flex flex-col items-center mt-2 mb-5 w-full h-screen bg-black ">
            <h2 class="text-white">USER</h2>
        </div>

        <section class="" id="news_section">
            
        </section>
    </div>
    {% endblock content %}
</body>

</html>
