{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdn.tailwindcss.com"></script>
	</head>

<body>
    {% block content %}
        
Products

Lorem ipsum dolor sit, <br>amet consectetur adipisicing elit. Inventore,<br> dolorem ut! Sint nemo tenetur quasi ullam<br> beatae ducimus. Necessitatibus quia a dignissimos<br> provident vel, architecto illum asperiores<br> similique nihil quod!

    {% endblock content %}

</body>
</html>