{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "css/base.css" %}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
    <title>login</title>
</head>
<body class="bg-slate-400">
    
    {% block content %}
        
    <div id="container" class="flex justify-center flex-col items-center h-screen">
        <div id="box" class="w-2/3 bg-slate-500 rounded-2xl p-4 max-w-96" >

        <div id="title" class="h-24 flex w-full justify-center items-center bg-red-600">Sign Out</div>

        <form action="/logout" method="post" class="flex items-center flex-col justify-around h-40 bg-slate-600">
            {% csrf_token %}
        <button class="bg-slate-50 px-4 py-4 rounded-lg hover:transition-all hover:bg-slate-400 transition-all" value="logout-btn">Logout</button>
            
        </form>
               
        </div>

    </div>
    {% endblock content %}
</body>
</html>