{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/base.css" %}"> 
    <script src="https://cdn.tailwindcss.com"></script>
    <title>login</title>
</head>

<body class="bg-slate-400">

    {% block content %}
    <div id="container" class="">
        <div id="container_box" class="flex justify-center mb-5 ">

            <div id="box" class="flex justify-center flex-col items-center w-3/4 ">

                <div id="title"
                    class="flex justify-center items-center bg-green-500 border-black border-4 border-b-0 rounded-tr-md rounded-tl-md h-32 w-3/4">
                    <h1>Sign up</h1>
                </div>

                <form method="post" action="/signup"
                    class="mx-auto grid grid-cols-2  place-items-center gap-y-8 bg-slate-100  w-3/4 py-8 rounded-br-md rounded-bl-md border-black border-t-0 border-4">
                    {% csrf_token %}

                    <div id="userspace" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-between">
                        <label for="">Nombre</label>
                        <input type="text" name="username" id="self_username"
                        class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>
                    
                    <div id="userspace" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-around">
                        <label for="">Apellido Paterno</label>
                        <input type="text" name="pname" id="self_user"
                            class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>
                  
                    <div id="userspace" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-around">
                        <label for="">Apellido Materno</label>
                        <input type="text" name="mname" id="self_user"
                            class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>

                    <div id="cedula" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-between">
                        <label for="">Cedula</label>
                        <input type="number" name="cedula" id="self-email"
                            class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>

                    <div id="fnaci" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-between">
                        <label for="">Fecha de Nacimiento</label>
                        <input type="date" name="fnaci" id="self-email"
                            class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>

                    <div id="sexo" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-between">
                        <label for="">Sexo</label>

                        <select name="sexo" id="id_mi_campo" class="text-black w-1/2">
                            
                            {% for sexo, value in estudiante.sexos %}
                                <option value="{{ sexo }}" class="">{{ value }}</option>
                            {% endfor %}

                        </select>

                    </div>
                
                    <div id="email" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-between">
                        <label for="">Correo Electronico</label>
                        <input type="email" name="email" id="self-email"
                            class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>

                    <div id="password" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-between">
                        <label for="">Contrasena</label>
                        <input type="password" name="password" id="self_password"
                            class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>

                    <div id="password_conf" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-between">
                        <label for="">Confirmar Contrasena</label>
                        <input type="password" name="password_conf" id=""
                            class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>

                    <div id="tlfn" class="rounded-md p-3 w-3/4 text-white bg-neutral-700 flex justify-around">
                        <label for="">Numero de Telefono</label>
                        <input type="text" name="tlfn" id="self_user"
                            class=" text-zinc-950 w-1/2 rounded-md bg-slate-200  border-zinc-700 border-2">
                    </div>

                    <div 
                    id="carrera_select"
                    class="rounded-md p-3 text-white bg-neutral-700 flex flex-col justify-around w-2/3 col-span-2">
                        
                        <label for="id_carrera">Selecciona una carrera:</label>
                       
                        <select name="carrera" id="id_carrera" class="text-black">
                            {% for carrera in carreras %}
                            <option value="{{ carrera.pk }}">{{ carrera.nombre }}</option>
                            {% endfor %}
                        </select>

                    </div>

                    <button type="submit"
                        class="hover:bg-slate-400 hover:transition bg-red-300 px-8 py-6 rounded-xl col-span-2">Enviar
                        solicitud</button>

                    <a class="text-black hover:text-yellow-600 col-span-2" href="{% url 'Login' %}">
                        <h2>Already have an account? Log in here!</h2>
                    </a>
                </form>
            </div>
        </div>

        {% endblock content %}

</body>

</html>