{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ugma Site</title>
</head>
<body>
    {% block content %}
    <div id="content" class="mx-5 p-5 flex justify-center h-screen items-center flex-col">
<div class="bg-slate-400 rounded-xl px-5 pb-5 flex justify-center flex-col items-center w-1/2">
        <h3 class="text-lg my-5 hover:border-b-4 hover:border-blue-500 ">Ugma Info</h3>
        
    <p class="bg-orange-500 px-6 py-5 rounded-lg text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit omnis autem eius sapiente nesciunt magnam vitae aliquid blanditiis dolorem. Minus dolorum nostrum numquam sed est natus deserunt ex suscipit dignissimos.
        Dolorem ab fuga odit repellendus nisi non debitis soluta. Magni cumque quos excepturi illum, molestias deleniti dicta repellat rerum voluptate nobis pariatur perspiciatis dolores! Doloremque adipisci quibusdam aspernatur fugiat magnam!
        Illo, nulla officiis cupiditate consequatur temporibus voluptas sit corporis voluptatibus illum nostrum optio cumque earum voluptatum at porro tenetur tempora amet quibusdam. Praesentium, unde. Quod unde voluptate fugiat eum laborum!
        Iusto quibusdam tempora odio, quidem ipsum quae voluptate culpa cumque ullam repudiandae, soluta non beatae maxime assumenda incidunt. Distinctio quam labore totam molestias natus? Voluptas vel totam excepturi distinctio quis.</p>
</div>
</div>
        {% endblock content %}
    </body>
</html>