{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="h-screen">
<div class="justify-center flex items-center h-2/3">

    <div id="content" class="mx-5 mt-20 p-5 py-10 bg-slate-400 rounded-xl flex justify-center items-center flex-col">
        <h3 class="text-lg my-5 hover:border-b-4 hover:border-blue-500">Ugma Info</h3>
        
        <p class="w-1/2 bg-orange-500 px-6 py-5 rounded-lg text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit omnis autem eius sapiente nesciunt magnam vitae aliquid blanditiis dolorem. Minus dolorum nostrum numquam sed est natus deserunt ex suscipit dignissimos. Dolorem ab fuga odit repellendus nisi non debitis soluta. Magni cumque quos excepturi illum, molestias deleniti dicta repellat rerum voluptate nobis pariatur perspiciatis dolores! Doloremque adipisci quibusdam aspernatur fugiat magnam! Illo, nulla officiis cupiditate consequatur temporibus voluptas sit corporis voluptatibus illum nostrum optio cumque earum voluptatum at porro tenetur tempora amet quibusdam. Praesentium, unde. Quod unde voluptate fugiat eum laborum! Iusto quibusdam tempora odio, quidem ipsum quae voluptate culpa cumque ullam repudiandae, soluta non beatae maxime assumenda incidunt. Distinctio quam labore totam molestias natus? Voluptas vel totam excepturi distinctio quis.</p>
    </div>
</div>
</div>
{% endblock %}
